$bg-color: #1a1b26;
$fg-color: #a9b1d6;

$normal-black:   #444b6a;
$normal-red:     #ff7a93;
$normal-green:   #b9f27c;
$normal-yellow:  #ff9e64;
$normal-blue:    #7da6ff;
$normal-magenta: #bb9af7;
$normal-cyan:    #0db9d7;
$normal-white:   #acb0d0;

$bright-black:   #32344a;
$bright-red:     #f7768e;
$bright-green:   #9ece6a;
$bright-yellow:  #e0af68;
$bright-blue:    #7aa2f7;
$bright-magenta: #ad8ee6;
$bright-cyan:    #449dab;
$bright-white:   #787c99;
